<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .box {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -50px 0 0 -100px;
            width: 400px;
            height: 100px;
        }
    </style>

</head>
<body>
<form action="#" th:action="@{/login}" th:object="${person}" method="post">
    <div class="box">
        <p><h3>姓名：</h3><input type="text" th:field="*{name}" /></p>
        <p><h3>密码：</h3><input type="password" th:field="*{password}" /></p>
        <button type="submit" class="btn btn-danger">提交一下试试</button>
    </div>

</form>


<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>